.light-mode .theme-toggle {
  color: #8b5cf6;
}

.dark-mode .theme-toggle {
  color: #fcd34d;
}

.theme-toggle svg {
  width: 30px;
  height: 30px;
}

.icon {
  transition: fill 0.3s ease-in-out;
}

.icon:hover, .icon:focus, .icon.active {
  fill: #fcd34d;
}
